extends layout

block content
    h1 Analytics
    table 
        thead
            tr 
                th Path
                th Visits
        tbody
            each view in pageViews
                tr
                    td= view._id
                    td= view.visits